AuthType Basic
AuthName "Dealerfire Adwords"
AuthUserFile /var/www/vhosts/system3.dealerfire.com/awautomation/.htpasswd
Require valid-user

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !index.php
RewriteRule .* index.php?url=$0 [QSA,L]
